/*#7d677e #4f2c4d #360b41 #ccc9aa #fafdea*/
.goifhauwiawfuhgo {
    color: #7d677e;
    color: #4f2c4d;
    color: #360b41;
    color: #ccc9aa;
    color: #fafdea;
}

body {
    background-color: #360b41;
}

header {
 background-color: #4f2c4d;
 padding-left: 25%;
 padding-right: 25%;
 text-align: center;
}

a {
    font-size: 40px;
    margin: 12px;
    color: #ccc9aa;
}

a:hover {
    font-size: 45px;
    margin: 12px;
    color: #7d677e;
}

h2 {
    font-size: 45px;
    margin: 17px;
    color: #ccc9aa;
}

.header {
    font-size: 40px;
    margin: 12px;
    color: #ccc9aa;
    display: inline-block;     
}

p {
    font-size: 40px;
    margin: 12px;
    color: #ccc9aa;   
}

li {
    font-size: 40px;
    margin: 12px;
    color: #ccc9aa;  
}

.contatos {
    padding: 17px;
}